<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新增博客</title>
<link rel="stylesheet" type="text/css" href="__CSS__/css.css" />
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
</head>
<body>
<!-- 头部 -->
{include file="public/head"}
<!-- 头部 结束-->
<!--左列表-->
<div class="container">
	{include file="public/left"}
</div>
<!--左列表结束-->
<div style="margin-left: 13%;">
	<div id="pageAll">
		<div class="pageTop">
			<div class="page">
				<img src="__IMG__/coin02.png" /><span><a href="{:url('index/index')}">首页</a>&nbsp;-&nbsp;<a
					href="{:url('blog/bloglist')}">博客管理</a>&nbsp;-</span>&nbsp;新增博客
			</div>
		</div>
		<div class="page">
			<!-- 新增博客页面样式 -->
			<div class="banneradd bor">
				<div class="baTopNo">
					<span>新增博客</span>
				</div>
				<div class="baBody">
					<form action="{:url('blog/addblogout')}" method="post">
						<div class="bbD">
							博客标题：<input type="text" class="input3" name="blog_title"/>
						</div>
						<div class="bbD">
							博客作者：<input type="text" class="input3" name="blog_editor"/>
						</div>
						<div class="bbD">
							博客链接：<input type="text" class="input3" name="blog_link"/>
						</div>

						<div class="bbD">
							添加图片：<input type="file" class="input3" name="blog_img"/>
						</div>

						<div class="bbD">
							是否显示：<select class="input3"  name="blog_status">
											<option selected value="1">显示</option>
											<option value="0">不显示</option>
									  </select>
						</div>
						<div class="bbD">
							博客内容：<textarea rows="10" cols="10" class="input3" name="blog_content"></textarea>
						</div>
						<div class="bbD">
							<p class="bbDP">
								<input type="submit" class="btn_ok btn_yes" value="提交">
								<a href="{:url('blog/bloglist')}"><input type="text" class="btn_ok btn_no" value="取消"></a>
							</p>
						</div>
					</form>
				</div>
			</div>
</div>
			<!-- 新增博客页面样式end -->
		</div>
	</div>
</body>
</html>