<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
	<link rel="stylesheet" type="text/css"
		  href="__CSS__/public.css" />
	<script type="text/javascript" src="__JS__/jquery.min.js"></script>
	<script type="text/javascript" src="__JS__/js/public.js"></script>
</head>
<!-- 头部 -->
	{include file="public/head"}
<!-- 头部 -->

<!-- 左边列表 -->
<div class="container">
	{include file="public/left"}
</div>
<!-- 左边列表 -->

<!-- 主体部分 -->
<div style="margin-left: 15%;">
	{include file="public/main"}
</div>

<!-- 主体部分 -->


</html>