<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页左侧导航</title>
<link rel="stylesheet" type="text/css"
	href="__CSS__/public.css" />
<script type="text/javascript" src="__JS__/jquery.min.js"></script>

<head></head>

<body id="bg">
	<!-- 左边节点 -->

		<div class="leftsidebar_box">
			<a href="{:url('index/index')}"  target="main"><div class="line">
					<img src="__IMG__/coin01.png" />&nbsp;&nbsp;首页
				</div></a>
			<!-- <dl class="system_log">
			<dt><img class="icon1" src="__PUBLIC__/Admin/img/coin01.png" /><img class="icon2"src="__PUBLIC__/Admin/img/coin02.png" />
				首页<img class="icon3" src="__PUBLIC__/Admin/img/coin19.png" /><img class="icon4" src="__PUBLIC__/Admin/img/coin20.png" /></dt>
		</dl> -->
			<dl class="system_log">
				<dt>
					<img class="icon1" src="__IMG__/coin03.png" /><img
						class="icon2" src="__IMG__/coin04.png" /> 网站管理<img
						class="icon3" src="__IMG__/coin19.png" /><img
						class="icon4" src="__IMG__/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						class="cks" href="{:url('arily/user')}" target="main">管理员管理</a><img
						class="icon5" src="__IMG__/coin21.png" />
				</dd>
			</dl>
			<!--<dl class="system_log">
				<dt>
					<img class="icon1" src="__IMG__/coin05.png" /><img
						class="icon2" src="__IMG__/coin06.png" /> 公共管理<img
						class="icon3" src="__IMG__/coin19.png" /><img
						class="icon4" src="__IMG__/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						class="cks" href="{:url('Admin/Adv/banner')}" target="main">广告管理</a><img
						class="icon5" src="__IMG__/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						class="cks" href="{:url('Admin/Adv/opinion')}" target="main">意见反馈</a><img
						class="icon5" src="__IMG__/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="__IMG__/coin07.png" /><img
						class="icon2" src="__IMG__/coin08.png" /> 会员管理<img
						class="icon3" src="__IMG__/coin19.png" /><img
						class="icon4" src="__IMG__/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						class="cks" href="{:url('Admin/Vip/vip')}" target="main">会员管理</a><img
						class="icon5" src="__IMG__/coin21.png" />
				</dd>
			</dl>-->
			<dl class="system_log">
				<dt>
					<img class="icon1" src="__IMG__/coin10.png" /><img
						class="icon2" src="__IMG__/coin09.png" /> 列表管理<img
						class="icon3" src="__IMG__/coin19.png" /><img
						class="icon4" src="__IMG__/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						href="{:url('arilist/listline')}" target="main" class="cks">分类列表</a>
					<img class="icon5" src="__IMG__/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						href="{:url('arilist/listlink')}" target="main" class="cks">首页列表</a>
					<img class="icon5" src="__IMG__/coin21.png" />
				</dd>

			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="__IMG__/coin11.png" /><img
						class="icon2" src="__IMG__/coin12.png" /> 博客管理<img
						class="icon3" src="__IMG__/coin19.png" /><img
						class="icon4" src="__IMG__/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						href="{:url('Blog/bloglist')}" target="main" class="cks">内容管理</a><img
						class="icon5" src="__IMG__/coin21.png" />
				</dd>

			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="__IMG__/coin14.png" /><img
						class="icon2" src="__IMG__/coin13.png" /> 留言管理<img
						class="icon3" src="__IMG__/coin19.png" /><img
						class="icon4" src="__IMG__/coin20.png" />
				</dt>

				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						class="cks" href="{:url('Message/messagelist')}" target="main">留言板</a><img
						class="icon5" src="__IMG__/coin21.png" />
				</dd>

			</dl>
			<!--<dl class="system_log">
				<dt>
					<img class="icon1" src="__IMG__/coin15.png" /><img
						class="icon2" src="__IMG__/coin16.png" /> 约见管理<img
						class="icon3" src="__IMG__/coin19.png" /><img
						class="icon4" src="__IMG__/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						class="cks" href="{:url('Admin/Meet/index')}" target="main">约见管理</a><img
						class="icon5" src="__IMG__/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="__IMG__/coin17.png" /><img
						class="icon2" src="__IMG__/coin18.png" /> 收支管理<img
						class="icon3" src="__IMG__/coin19.png" /><img
						class="icon4" src="__IMG__/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						class="cks" href="{:url('Admin/Pay/index')}" target="main">收支管理</a><img
						class="icon5" src="__IMG__/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="__IMG__/coin17.png" /><img
						class="icon2" src="__IMG__/coin18.png" /> 红包管理<img
						class="icon3" src="__IMG__/coin19.png" /><img
						class="icon4" src="__IMG__/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						class="cks" href="{:url('Admin/Red/make')}" target="main">创建记录</a><img
						class="icon5" src="__IMG__/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						class="cks" href="{:url('Admin/Red/get')}" target="main">领取记录</a><img
						class="icon5" src="__IMG__/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						class="cks" href="{:url('Admin/Red/share')}" target="main">分享记录</a><img
						class="icon5" src="__IMG__/coin21.png" />
				</dd>
			</dl>-->
			<dl class="system_log">
				<dt>
					<img class="icon1" src="__IMG__/coinL1.png" /><img
						class="icon2" src="__IMG__/coinL2.png" /> 系统管理<img
						class="icon3" src="__IMG__/coin19.png" /><img
						class="icon4" src="__IMG__/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						href="{:url('System/changePwd')}" target="main" class="cks">修改密码</a><img
						class="icon5" src="__IMG__/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" /><img
						class="coin22" src="__IMG__/coin222.png" /><a
						href="{:url('Admin/System/exit')}" class="cks"
						onclick="">退出</a><img
						class="icon5" src="__IMG__/coin21.png" />
				</dd>
			</dl>

		</div>

</body>

</html>
